.header {
  width: 100%;
  padding: 23px 15px 11px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_logo {
  padding-left: 25px;
  background-image: url('../../../../../images/favicon.png');
  background-size: contain;
  background-repeat: no-repeat;
  color: var(--dark-text-color);
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.header_logo:hover {
  animation: bounce 1s;
}

.socials-container {
  display: flex;
  gap: 7px;
}

.header_socials {
  height: 23px;
  color: var(--socials-color);
  text-decoration: none;
  padding-right: 28px;
  background-image: url('../../../../../images/github-logo.png');
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  transition: color 0.3s ease-in;
  cursor: pointer;
}

.header_socials:hover {
  color: var(--sidebar-color);
}

.school_logo {
  min-width: 60px;
  min-height: 20px;
  padding-left: 25px;
  background-image: url('../../../../../images/rs_school_js.svg');
  background-size: contain;
  background-repeat: no-repeat;
  color: var(--dark-text-color);
  cursor: pointer;
}

.header_year {
  height: 23px;
  color: var(--socials-color);
  text-decoration: none;
}
