.levels-sidebar {
  padding: 20px;
  width: 30%;
  height: 100%;
  background-color: rgb(181, 144, 126);
}

.sidebar-heading {
  font-size: 25px;
  margin: 0;
  padding: 0 0 10px 0;
  color: #fff6ed;
}
