.table {
  display: flex;
  gap: 10px;
  padding: 20px 30px;
  width: fit-content;
  background: url('../../../../../../images/jail.png') 10%, linear-gradient(#b59183, #96705d);
  box-shadow: 3px 10px 8px rgba(0, 0, 0, 0.2);
  border: 3px solid #6d6c72;
  transform: rotateX(20deg);
}

.pet {
  width: 100px;
  display: block;
  height: 100px;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  cursor: pointer;
}

.pet-required {
  animation: bounce 1s infinite;
}

.cat {
  background-image: url('../../../../../../images/cat.png');
}

.dog {
  background-image: url('../../../../../../images/dog.png');
}
