.levels-sidebar {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 30%;
  height: 100%;
  background-color: rgb(181, 144, 126);
}

.sidebar-heading {
  font-size: 25px;
  margin: 0;
  padding: 0 0 10px 0;
  color: #fff6ed;
}

.level-item {
  padding-left: 30px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #fff6ed;
  background-image: url('../../../images/not-completed.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.level-item:hover {
  text-shadow: 1px 1px 2px rgb(233, 187, 165);
}

.level-item__selected {
  font-weight: 700;
  color: #6d6c72;
  background-image: url('../../../images/selected.png');
}

.level-item__completed {
  background-image: url('../../../images/completed.png');
}

.help-used {
  background-image: url('../../../images/search.png');
}

.reset-btn {
  width: fit-content;
  margin-top: 15px;
  align-self: center;
  background: #fff6ed;
  color: rgb(181, 144, 126);
  padding: 8px 15px 10px 15px;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.reset-btn:hover {
  box-shadow: 2px 2px 10px #fff;
  text-shadow: 1px 1px 2px rgb(233, 187, 165);
}
