.main {
  background-color: var(--main-color);
  width: 100%;
  height: 100%;
}

.shelter-wrapper {
  width: 96%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_heading {
  color: var(--dark-text-color);
  font-size: 45px;
  margin: 0;
  font-weight: 400;
  text-align: center;
  padding: 20px 30px;
}

.main_help {
  margin: 0 auto;
  background: var(--help-color);
  color: var(--white-color);
  padding: 8px 15px 10px 15px;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.main_help:hover {
  text-decoration: underline;
}

.help-activated {
  color: var(--sidebar-color);
  white-space: pre-wrap;
}

.help-activated:hover {
  text-decoration: none;
}
